* {
    box-sizing: border-box;
  }
  
  /* Create two columns that floats next to each other */
  .column1 {
    float: left;
    width: 22%;
    padding: 10px;
    
   
  }
  .column2 {
    float: left;
    width: 78%;
    /* padding: 10px; */
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
.odinMainContainer
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:90%;
  height:95vh;
  min-height:95%;
  overflow:hidden;
  padding:1%;
  margin:0;
  display: -webkit-flex;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:auto;
  align-items:flex-start;
  align-content:flex-start;
 
}



.odinLeftSidebarContainer
{
  width:100%;
  min-width:100%;
  max-width:100%;
  height:30%;
  min-height:30%;
  overflow:hidden;

}

.odinMainContentContainer
{
  width:100%;
  min-width:100%;
  max-width:100%;
  height:70%;
  min-height:70%;
  overflow:hidden;
}

/* LOGO Two columns that floats next to each other */
.columnlogo1 {
    float: left;
    width: 40%;
  }
  .columnlogo2 {
    float: left;
    width: 60%;
    padding:8px;
  }  
 
  /* Clear floats after the columns */
  .rowlogo:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Right Column */
  
.odinMainContainer11
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:90%;
  height:95vh;
  min-height:95%;
  overflow:hidden;

  display: -webkit-flex;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:auto;
  align-items:flex-start;
  align-content:flex-start;
  
}



.odinLeftSidebarContainer1
{
  width:100%;
  min-width:100%;
  max-width:100%;
  height:30%;
  min-height:30%;
  overflow:hidden;
  
  
}

.odinMainContentContainer2
{
  width:100%;
  min-width:100%;
  max-width:100%;
  height:70%;
  min-height:70%;
  overflow:hidden;
  
}
/* ROW 2 */
/* Two columns */

/* COLUMN 1 */
.columnright {
    float: left;
    width: 50%;
    padding: 10px;
  
  }
  /* COLUMN 2 */
.columnright {
    float: left;
    width: 50%;
    padding: 10px;
}
  
  /* Clear floats after the columns */
  .rowright:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Text over image */
  .container {
    position: relative;
    
  }
  
  .text-block {
   
    top:10px;
    right:300px;
    left:300px;
   
    padding-left: 20px;
    padding-right: 20px;
    
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
    opacity:90%;
  }
.searchTerm{
     border-radius:15px;
    height:27px;
    width:40px;
    Top:10px;
 }
.wrap {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* elon */
  .elon{
    background-color: lightgrey;
    
    border-radius:8px;
   
    margin: 20px;
  }
  * {
    box-sizing: border-box;
  }
  
  .rowelon {
    display: flex;
  }
  
  
  .columnelon1 {
    flex: 20%;
    
   
  }
  .columnelon2 {
    flex: 80%;
    
   
  }